{% extends 'newsletter/basic_emplate.html' %}
{% load my_tags %}

{% block content %}

<div class="container">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">{{ object.name_company }}</h3>

                <!-- Вывод информации о рассылке -->
                <p>Адрес: {{ object.email }}</p>
                <p>Телефон: {{ object.phone }}</p>
                <p>Почта компании: {{ object.country }}</p>
                <p>
                <a href="{% url 'newsletter:mailings_list_manage' %}" class="text">рассылки</a></p>






        </div>
</div>
                </div>
</div>


{% endblock %}